In [ ]:
# Do the following tasks below

In [ ]:
# Import pandas

In [ ]:
# Import numpy

In [ ]:
# read in your csv file

In [ ]:
# print the columns of your file

In [ ]:
# print the data types of your file

In [ ]:
# print the first 5 rows of your data

In [ ]:
# print the last 5 rows of your data

In [ ]:
# print out data that is only in the host_name column HINT: print(NameOfYourFile['NameOfColumnToPrint'])

In [ ]:
# Create a dataframe called reviewsData. It should ONLY include data on your hostname, reviews per month and number of reviews

In [ ]:
# We can use the .loc method to return rows of data as a series. 
# For ONE row do the following nameOfFile.loc['NameOfRow']
# For multiple rows do the following nameOfFile[['row','row2']]

In [ ]:
# Print out the following row using .loc() --> hostName

In [ ]:
# Print out the following rows using .loc() --> hostName & peveiws per month

In [ ]:
# Homie Breath HERE

In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
df = pd.read_csv("AB_NYC_2019.csv")

In [16]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [18]:
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [19]:
print(df.head(5))

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [20]:
print(df.tail(5))

             id                                               name   host_id  \
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
48890                 9
48891                36
48892                27
48893                 2
48894                23

In [22]:
print(df['host_name'])

0                    John
1                Jennifer
2               Elisabeth
3             LisaRoxanne
4                   Laura
5                   Chris
6                   Garon
7                Shunichi
8               MaryEllen
9                     Ben
10                   Lena
11                   Kate
12                 Laurie
13                Claudio
14                  Alina
15          Allen & Irina
16                   Jane
17                   Doti
18       Adam And Charity
19                   Sing
20                  Chaya
21                  Lisel
22                  Lisel
23                  Lisel
24               Nathalie
25                Gregory
26        Claude & Sophie
27                  Tommi
28                   Shon
29                   Dana
               ...
48865              Brenda
48866             Alberth
48867               Diana
48868               Diana
48869               Julia
48870               Tanja
48871           Ozzy Ciao
48872                 Ben
48873      Clement & Rose
48874             Jeffrey
48875           Anastasia
48876              Joseph
48877             Melanie
48878         Jeerathinan
48879                 Lee
48880               Melki
48881              Adrien
48882               Luisa
48883             Kendall
48884            Jonathan
48885             Kendall
48886               Scott
48887               Melki
48888                 Kat
48889             Michael
48890             Sabrina
48891             Marisol
48892       Ilgar & Aysel
48893                 Taz
48894          Christophe
Name: host_name, Length: 48895, dtype: object